body{
	color: white;
	background-color: black;
	font-family: Oswald;
}

nav{
	background-color: rgb(0, 126, 0);
}

nav a{
	font-size:20px;
	color:white;
	padding-left: 1rem;
	padding-right: 1rem;
}

p{
	font-size: 28px;
}

img{
	width: 100%;
}

hr{
	width: 800px;
}

.lecture{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.lectureTitle{
	/* order: 0; */
	font-size: 70px;
}

.lectureListContainer{
	/* order: 1; */
}

.lectureList{
	font-size: 30px;
}

a{
	text-decoration: none;
	color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: green;
}

a:active {
    color: white;
}

.instructionGrid{
    display: grid;
	grid-template-columns: 48% 48%;
	grid-template-rows: auto;
	grid-template-areas: 
		"left right";
	width: 100%;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.left{

}



.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right h2{
    text-align: center;
    font-size: 2em;
}

.right ul li{
    font-size: 1.7em;
    color: green;
}

.right ul li:hover{
    font-size: 2.2em;
    color: white;
}


 /* MODAL STUFF BELOW */
 #myImg {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  .modal {
	display: none; 
	position: fixed; 
	z-index: 1; 
	padding-top: 100px; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.9); 
  }
  
  .modal-content {
	margin: auto;
	display: block;
	width: 80%;
  }
  
  #caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
  }
  
  .modal-content, #caption {
	animation-name: zoom;
	animation-duration: 0.6s;
  }
  
  @keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
  }
  
  .close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
  }
  
  @media only screen and (max-width: 700px){
	.modal-content {
	  width: 100%;
	}
  } 

